*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 2rem;
    background-color: #DBABBE;
}

.maincontent-info1{
    display: flex;
    justify-content: center;
}

.maincontent-info1 h1{
    font-size: 2rem;
}
.container{
    display: flex;
    justify-content: center;
}

.maincontent-con{
    display: flex;
}

.maincontent-img{
    align-items: center;
}

.maincontent-info2{
    width: 100%;
    padding: 2rem;
}

.maincontent-info2 h1{
    font-size: 2rem;
}

.maincontent-info2 p{
    margin: 1rem 0;
}

.content-title{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #DBABBE;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-item h4{
    margin-top: 1rem;
    display: flex;
}

.content-item p{
    margin: 1rem 0;
}

.content-item2 h4{
    margin-top: 1rem;
    display: flex;
}

.content-item2 p{
    margin: 1rem 0;
}

.content-item3 h4{
    margin-top: 1rem;
    display: flex;
}

.content-item3 p{
    margin: 1rem 0;
}

.content-item4 h4{
    margin-top: 1rem;
    display: flex;
}

.content-item4 p{
    margin: 1rem 0;
}

.content-item5 h4{
    margin-top: 1rem;
    display: flex;
}

.content-item5 p{
    margin: 1rem 0;
}

.content-title2{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #DBABBE;
}

.content-cer p{
    margin: 1rem 0;
}